*{
    margin: 0px;
    padding: 0px;
    font-family: impact Haettenschweiler, sans-serif;
    font-size: 18px;
}

/* #########################  layout pc ###################################*/
@media screen and (min-width: 1000px){

    #cadastro{
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    #logo{
        position: absolute;
        width: 150px;
        height: 70px;
        top: 10px;
        left: 10px;
        background: url('../imagens/logo01.png') no-repeat;
        background-size: 100%;
        background-position: 50%;
    }

    #title{
        text-align: center;
        font-size: 50px;
        color: #47525e;
        font-weight: bold;
    }

    #sub-title { 
        text-align: center;
        color: #8694a8;
    }

    .login-bar{
        width: 40%;
        margin-top: 20px;
        /* height: 400px; */
        margin-left: calc(50% - 20%);
        margin-right: calc(50% - 20%);
    }

    .input-logon{
        width: 100%;
        padding: 15px 25px;
        font-size: 20px;
        color: #47525e;
        margin-top: 10px;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px;
    }
    
    #cadastrar{
        width: 50%;
        margin-left: calc(50% - 25%);
        margin-top: 10px;
        padding: 15px 25px;
        font-size: 20px;
        background-color: #00a6ff;
        color: #fff;
        border: none;
        border-radius: 5px;
    }

    #cadastrar:hover{
        background-color: #038cd5;
    }

    #termos-condicoes{
        margin-top: 20px;
        text-align: center;
        color: #8694a8;
    }

    #conta-entrar{
        text-align: center;
        font-size: 32px;
        color: #47525e;
        font-weight: bold;
    }

    #entre{
        text-decoration: none;
        text-align: center;
        font-size: 32px;
        color:  #47525e69;
        font-weight: bold;
        cursor: pointer;
    }

    #entre:hover{
        color: #47525ee3;
    }

    /* @keyframes left{
        0%{left: -200px;}
        100%{left: 0%;}
    }

    @keyframes right{
        0%{right: -200px;}
        100%{right: 0%}
    } */

    .colunas {
        position: absolute;
        width: 0px;
        transition: .5s;
    }
    
    #left1 {
        height: 50px;
        top: 140px;
        background-color: #ff9052;
        /* animation: left .5s linear; */
    }
    #left2 {
        height: 40px;
        top: 220px;
        background-color: #00a6ff;
        /* animation: left .5s linear; */
    }
    #left3 {
        height: 60px;
        top: 300px;
        background-color: #13ce66;
        /* animation: left .5s linear; */
    }
    #left4 {
        height: 40px;
        top: 380px;
        background-color: #ffba5c;
        /* animation: left .5s linear; */
    }
    #left5 {
        height: 35px;
        top: 460px;
        background-color: #13ce66;
        /* animation: left .5s linear; */
    }
    #left6 {
        height: 45px;
        top: 540px;
        background-color: #00a6ff;
        /* animation: left .5s linear; */
    }


    #right1 {
        height: 50px;
        top: 140px;
        right: 0px;
        background-color: #00a6ff;
        /* animation: right .5s linear; */
    }
    #right2 {
        height: 40px;
        top: 220px;
        right: 0px;
        background-color: #ffba5c;
        /* animation: right .5s linear; */
    }
    #right3 {
        height: 60px;
        top: 300px;
        right: 0px;
        background-color: #13ce66;
        /* animation: right .5s linear; */
    }
    #right4 {
        height: 40px;
        top: 380px;
        right: 0px;
        background-color: #ff9052;
        /* animation: right .5s linear; */
    }
    #right5 {
        height: 35px;
        top: 460px;
        right: 0px;
        background-color: #13ce66;
        /* animation: right .5s linear; */
    }
    #right6 {
        height: 45px;
        top: 540px;
        right: 0px;
        background-color: #00a6ff;
        /* animation: right .5s linear; */
    }
}

/*############################# layout celular ############################## */
@media screen and (max-width: 1000px){

    .colunas {
        display: none;
    }
}
